/* .App {
  font-family: sans-serif;
  /* /* text-align: center; } */
  .movie_container {
    /* background-color: teal; */
    width: 300px;
    height: min-content;
  }
  .movie-poster {
    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 1rem;
    margin-top:1rem;
  }
  .Movie-specs {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  .movie-rating {
    font-size: 1rem;
  }
  .Movie-name {
    font-size: 1.5rem;
    margin: 0;
    max-width: 70%;
  }
  .movie-summary {
    margin-top: 0;
  }
  body {
    margin: 10px;
    font-family: "Poppins", sans-serif;
  }
  .movie-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .counter-container{
    display : flex;
    gap:10px;
  }
  .likes-dislikes{
    font-size: 20px;
  }
  .movie-show-button{
    margin-bottom: 10px;
    font-size: 10px;
  }
.movie-poster:hover{
  transform: scale(1.1);
}
nav{
  font-size: 20px;
  display: flex;
  gap:24px;
  margin: 20px;
}
.add-movie-form{
  display: flex;
  flex-direction: column;
}